@using V4mvc.Presentation.Areas.Administrador.Controllers
@model DashBoardController.ViewModelMenu
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    @helper BuildMenu()
    {
        foreach (var menu in Model.menu)
        {
            <li>
                <a class="submenu" href="#" title="Widgets" data-id="@menu.CODMENU"><i class="fa fa-th"></i><span>@menu.DESCMENU</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(submenu:menu.DESCMENU, cssClass: "in") filter-@menu.CODMENU">
                    @if (menu.CODMENU > 1)
                    {
                        <li>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control filter-li-@menu.CODMENU" onkeyup="FiltrarItems(@menu.CODMENU,0)" placeholder="Buscar">
                                </div>
                            </div>
                        </li>
                    }
                    @foreach (var subMenu in Model.subMenu.Where(var => var.CODMENU == menu.CODMENU).ToList())
                    {
                        <li class="@Html.IsSelected(url:subMenu.LINKV4)"><a href="@Url.Content(subMenu.LINKV4)" title="@subMenu.DESCRIPCION"><i class="@subMenu.ICONOV4"></i>@subMenu.DESCRIPCION</a></li>
                    }
                   
                </ul>
            </li>
        }
    }
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center">
                    <img alt="image" class="img-rounded img-responsive" src="~/Images/logo_l.png" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Model.colab_usuario.NOMBRES</strong>
                            </span> <span class="text-muted text-xs block">Usuario<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOff", "Login", new { area = ""})"><i class="fa fa-power-off"></i><span>&nbsp; Cerrar sesión</span></a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-rounded img-responsive" src="~/Images/logo_c.png" />


                </div>
            </li>
            <li>
                <a class="" href="@Url.Action("DashBoard", "DashBoard")" title="Dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                    <span class="label label-primary pull-right">NEW</span>
                </a>
            </li>

            @*<li><a class="" href="@Url.Action("Index", "FuncionariosCtta")" title="Nomina Funcionarios"><i class="entypo-briefcase"></i><span>Nomina Funcionarios</span></a></li>
                <li><a class="" href="@Url.Action("Index", "VehiculosCtta")" title="Vehículos"><i class="fa fa-car"></i><span>Vehículos</span></a></li>
                <li><a class="" href="@Url.Action("Index", "InformesMDTE")" title="Informes MDTE"><i class="entypo-briefcase"></i><span>Informes MDTE</span></a></li>*@
            @*<li><a class="" href="@Url.Action("Index", "Covid19")" title="Control Inicial"><i class="fa fa-thumb-tack"></i><span>Personal para evaluación</span></a></li>*@

            @*<li><a class="" href="@Url.Action("Index", "Cuarentena")" title="Cuarentena"><i class="fa fa-bug"></i><span>Personal en Cuarentena</span></a></li>*@
            @*<li><a class="" href="@Url.Action("Index", "InformesAccesoFaena")" title="Cuarentena"><i class="fa fa-bug"></i><span>Informe-Acceso a Faena</span></a></li>*@
            @*<li><a class="" href="@Url.Action("Index", "Clinica")" title="Clinicas"><i class="fa fa-plus-square"></i><span>Clinicas</span></a></li>*@

            @BuildMenu()

        </ul>
    </div>
</nav>
}



