<div class="modal inmodal" id="searcher-salas-mdte" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  animated bounceInRight">
            <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Búsqueda de Lugares y Salas</h5>
            </div>
            <div class="modal-body" id="modal-searcher-salas">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Mostrar</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" data-bind="options:$root.listLength,value:length">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Registros</label>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped dataTable small" width="100%">
                    <thead>
                        <tr>
                            <th data-bind="click:function(data,event){order('0',this)}">
                                Lugar
                                <div class="pull-right"><i data-bind="visible: sort() == 0,css: sort() == 0 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('1',this)}">
                                Sala
                                <div class="pull-right"><i data-bind="visible: sort() == 1,css: sort() == 1 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('2',this)}">
                                Capacidad
                                <div class="pull-right"><i data-bind="visible: sort() == 2,css: sort() == 2 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: listSalasMdte">
                        <tr data-bind="click:function(data,event){$root.selectItem($data)}">
                            <td data-bind="text: LUGAR"></td>
                            <td data-bind="text: SALA"></td>
                            <td data-bind="text: CAPACIDAD"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><input class="form-control input-sm" type="text" placeholder="LUGAR" data-bind="textInput: lugar" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="SALA" data-bind="textInput: sala" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="CAPACIDAD" data-bind="textInput: capacidad" /></th>
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="pull-right">
                        <ul id="pagination-salas" class="pagination"></ul>
                    </div>
                    <div class="pull-left">
                        @Mandante.Home.Tabla.Lbl_Mostrando <span data-bind="text: (start() + 1)"></span> @Mandante.Home.Tabla.Lbl_A <span data-bind="text: registros()"></span> @Mandante.Home.Tabla.Lbl_De <span data-bind="text: count()"></span> @Mandante.Home.Tabla.Lbl_Registros
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;@General._BuscadorFuncionarios.Tblf_BuscadorFuncionarios_Btn_Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/knockoutJS")
@Scripts.Render("~/bundles/jquery")

<script>

    var modelSalasMdte = null;
    function loadSearcherSalasMdte(idModal) {

        function SalasMdteViewModel() {
            ko.cleanNode($('#modal-searcher-salas')[0]);
            var self = this;
            self.idModal = ko.observable(idModal);
            self.listSalasMdte = ko.observableArray();
            self.active = ko.observable(true);
            self.activate = ko.observable(false);
            self.page = ko.observable();
            self.start = ko.observable(0);
            self.listLength = ko.observableArray([10, 25, 50, 100]);
            self.length = ko.observable(10);
            self.sort = ko.observable("0");
            self.ordering = ko.observable("asc");
            self.count = ko.observable(0);
            self.registros = ko.observable(self.length());
            self.lugar = ko.observable().extend({ throttle: 1000 });
            self.sala = ko.observable().extend({ throttle: 1000 });
            self.capacidad = ko.observable().extend({ throttle: 1000 });

            self.addSalasMdte = function (data) { for (var key in data) { self.listSalasMdte.push(ko.toJS(data[key])); } }

            self.page.subscribe(function (value) {
                self.registros(value * self.length());
                var pag = ((value * self.length()) - self.length());
                self.start(pag);
            });

            self.order = function (value) {
                self.sort(value);
                self.start(0);
                self.ordering() == 'asc' ? self.ordering('desc') : self.ordering('asc');
            }

            self.length.subscribe(function () {
                self.init();
                self.registros(self.length());
            });

            self.restart = function (value) {
                if (value.length > 2) { self.init() };
                if (value.length == 0 && self.activate()) { self.init() };
            }

            self.ordering.subscribe(function () { self.init() });
            self.lugar.subscribe(function (value) { self.restart(value) });
            self.sala.subscribe(function (value) { self.restart(value) });
            self.capacidad.subscribe(function (value) { self.restart(value) });

            self.init = function () {
                self.activate(true)
                if (self.active()) {
                    var data = {
                        START: self.start,
                        LENGTH: self.length,
                        COLUMN: self.sort,
                        DIRECTION: self.ordering,
                        LUGAR: self.lugar,
                        SALA: self.sala,
                        CAPACIDAD: self.capacidad
                    };

                    $('#pagination-salas').pagination({
                        ajax: function (options, refresh, $target) {
                            self.page(options.current),
                                $.ajax({
                                    global: false,
                                    url: '@Url.Action("_SearcherSalasMdte", "Home", new { Area = "Mandante" })',
                                    data: data,
                                    dataType: 'json'
                                }).done(function (res) {
                                    self.listSalasMdte.removeAll();
                                    self.addSalasMdte(res.data);
                                    self.count(res.COUNT);
                                    refresh({
                                        total: res.COUNT,
                                        length: self.length()
                                    });
                                }).fail(function (error) { console.log('error'); });
                        },
                        prev: "@Mandante.Home.Tabla.Lbl_Anterior",
                        next: "@Mandante.Home.Tabla.Lbl_Siguiente"
                    });
                }
            }

            self.clear = function () {
                self.active(false);
                self.length(10);
                self.sort('0');
                self.ordering('asc');
                self.lugar('');
                self.sala('');
                self.capacidad('');
            }

            self.selectItem = function (data) {
                switch (self.idModal()) {
                    case 2:
                        $('#txtLugar').val(data.LUGAR).trigger('change');
                        $('#txtSala').val(data.SALA).trigger('change');
                        break;
                }
                self.clear();
                $('#searcher-salas-mdte').modal('hide');
            }
        }

        var vmSalasMdte = new SalasMdteViewModel();
        vmSalasMdte.init();
        modelSalasMdte = vmSalasMdte;
        ko.applyBindings(vmSalasMdte, $('#modal-searcher-salas')[0]);

    }


</script>
