@model V4mvc.Presentation.Areas.Mandante.Controllers.CharlasCursosController.ViewModelCrearEditar

@{
    ViewBag.Title = "CrearEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ul class="breadcrumb_links">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="@Url.Action("DashBoard", "DashBoard", new { Area = "Mandante" })">@Mandante.General.Tabla.Lnk_DashBoard</a></li>
            <li><a href="@Url.Action("Index", "CharlasCursos", new { Area = "Mandante" })">@Mandante.CharlasCursos.CrearEditar.Lbl_listadoCharlas</a></li>
            <li class="active">
                <div data-bind="if: !esNuevo">
                    <span data-bind="text: '@Mandante.CharlasCursos.CrearEditar.Lbl_Edicion_Charlas '"> </span>
                </div>
                <div data-bind="if: esNuevo">
                    <span data-bind="text: '@Mandante.CharlasCursos.CrearEditar.Lbl_Nueva_Charla '"> </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2>
                        <span data-bind="if: esNuevo">
                            @Mandante.CharlasCursos.CrearEditar.Lbl_listadoCharlas
                            &nbsp;<span class="fa fa-chevron-circle-right"></span>&nbsp;
                            @Mandante.CharlasCursos.CrearEditar.Lbl_Nueva_Charla
                        </span>
                        <span data-bind="if: !esNuevo">
                            @Mandante.CharlasCursos.CrearEditar.Lbl_listadoCharlas
                            &nbsp;<span class="fa fa-chevron-circle-right"></span>&nbsp;
                            @Mandante.CharlasCursos.CrearEditar.Lbl_Edicion_Charlas
                        </span>
                    </h2>
                </div>
                <div class="panel-body" data-bind="with:charla">
                    <div class="callout callout-info">
                        <h4>@Mandante.General.Tabla.Lbl_Informacion</h4>
                        <p>@Mandante.General.Tabla.Msg_InformacionObligatoria</p>
                    </div>
                    <form id="form-valide-charlascurso" name="form-valide-categoria" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 ">@Mandante.CharlasCursos.CrearEditar.Lbl_Charla</label>
                            <div class="col-md-4">
                                <input name="CHARLA" id="CHARLA" class="form-control" placeholder="@Mandante.CharlasCursos.CrearEditar.Phl_Nombre" data-bind="value: CHARLA" />
                            </div>
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_Descripcion  </label>
                            <div class="col-md-4">
                                <input name="DESCRIPCION" id="DESCRIP" class="form-control" placeholder="@Mandante.CharlasCursos.CrearEditar.Phl_Descripcion" data-bind="value :DESCRIP" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_Operaciones</label>
                            <div class="col-md-10">
                                <div class="icheck-greensea">
                                    <input type="checkbox" data-bind="checked:$root.selectAllDivisiones" id="selectAllDiv" />
                                    <label for="selectAllDiv"><strong>@Mandante.CharlasCursos.CrearEditar.Lbl_Seleccionar_Todas</strong></label>
                                </div>
                            </div>
                            <p class="col-md-2"></p>
                            <div class="col-md-10">
                                <div data-bind="foreach:$root.divisionesSeleccionadas">
                                    <div class="col-md-4">
                                        <div class="icheck-greensea">
                                            <input type="checkbox" data-bind="checked:CHECKED,attr:{id:DIVCOD}" />
                                            <label data-bind="text:DIVISION, attr:{for:DIVCOD}"> </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_horas</label>
                            <div class="col-md-2">
                                <input name="HORAS" id="HORAS" class="form-control" type="number" placeholder="@Mandante.CharlasCursos.CrearEditar.Phl_horas" data-bind="value: HORAS" />
                            </div>
                            <p class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_duracionCharla</p>
                            <label class="col-md-2">* @Mandante.CharlasCursos.CrearEditar.Lbl_vigencia </label>
                            <div class="col-md-2">
                                <input name="VENCIMIENTO" id="VENCIMIENTO" class="form-control" type="number" placeholder="@Mandante.CharlasCursos.CrearEditar.Lbl_Ingresar_Vigencia" data-bind="value: VENCIMIENTO" />
                            </div>
                            <p class="col-md-2" style="border:hidden">@Mandante.CharlasCursos.CrearEditar.Lbl_Meses</p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 ">@Mandante.CharlasCursos.CrearEditar.Lbl_tipoCurso</label>
                            <div class="col-md-4">
                                <select name="ID_AREA" class="form-control" data-bind="options:$root.listTipoCurso, optionsText: 'NOMBRE', optionsValue: 'VALOR', value:$root.tipoCurso, optionsCaption:'@Mandante.CharlasCursos.CrearEditar.Lbl_SELECCIONE_TIPO_CURSO'"></select>
                            </div>
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_Area  </label>
                            <div class="col-md-4">
                                <select name="ID_AREA" class="form-control" data-bind="options:$root.areas, optionsText: 'AREA', optionsValue: 'ID_AREA', value:$root.area, optionsCaption:'@Mandante.CharlasCursos.CrearEditar.Lbl_SeleccionarArea'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_DocumentoRelacionado</label>
                            <div class="col-md-4">
                                <select name="ID_DOC_FEC" class="form-control" data-bind="options:$root.docsFec, optionsText: 'NOMBRE', optionsValue: 'ID_DOC_FEC', value:$root.fechaDocRelacionado, optionsCaption:'@Mandante.CharlasCursos.CrearEditar.Lbl_SeleccioneDocumentosRelacionado'"></select>
                            </div>
                            <label class="col-md-2">* @Mandante.CharlasCursos.CrearEditar.Lbl_PorcentajeDeAprobacion  </label>
                            <div class="col-md-2">
                                <input name="PORCENTAJE" id="PORCENTAJE" type="number" class="form-control" data-bind="value: PORCENTAJE" />
                            </div>
                            <span class="col-md-2">%</span>
                        </div>
                        <div class="form-group" id="selectsQV" hidden>
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.Lbl_Clasificacion </label>
                            <div class="col-md-4">
                                <select name="ID_CLASIFIACION" id="CLASIFICACION" class="form-control" data-bind="options:$root.clasificaciones, optionsText: 'NOMBRE', optionsValue: 'ID' , value:$root.clasificacion, optionsCaption:'@Mandante.CharlasCursos.CrearEditar.Lbl_seleccionarClasificacion'"></select>
                            </div>
                            <label class="col-md-2">@Mandante.CharlasCursos.CrearEditar.lbl_Ambito </label>
                            <div class="col-md-4">
                                <select name="ID_AMBITO" id="AMBITO" class="form-control" data-bind="options:$root.ambitos, optionsText:'NOMBRE', optionsValue: 'ID', value:$root.ambito, optionsCaption:'@Mandante.CharlasCursos.CrearEditar.Lbl_SeleccionarAmbito'"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <div style="display:flex; justify-content:space-around">
                                    <button id="btnGuardar" name="btnGuardar" data-bind="click:$root.saveCharlasCursos" class="btn btn-success">
                                        <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;@Mandante.CharlasCursos.CrearEditar.Btn_GuardarDatos
                                    </button>
                                    <button class="btn btn-danger" data-bind="click:$root.cancelCharlaCurso">
                                        <i class="fa fa-times"></i>&nbsp;&nbsp;@Mandante.CharlasCursos.CrearEditar.Btn_Cancelar
                                    </button>
                                </div> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck-bootstrap/iCheckBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")

<script>
        function Divisiones(data) {
            var selft = this;
            selft.DIVISION = ko.observable(data.DIVISION);
            selft.CHECKED = ko.observable(data.CHECKED);
            selft.DIVCOD = ko.observable(data.DIVCOD);
            selft.CHECKED.subscribe(function (value) {
                if (selft.DIVCOD() === 'QV') {
                    if (value)
                        $('#selectsQV').show();
                    else {
                        $('#selectsQV').hide();
                    }
                }
            });
            if (selft.DIVCOD() === 'QV' && selft.CHECKED() === true)
                $('#selectsQV').show();
        };

        function ViewModelCharlasCursos(model) {
            var self = this;
            self.charla = model.Charla;
            self.areas = model.Areas;
            self.docsFec = model.DocsFec;
            self.clasificaciones = model.Clasificaciones;
            self.ambitos = model.Ambitos;
            self.esNuevo = model.Charla.IDCHARLA > 0 ? false : true;
            self.selectAllDivisiones = ko.observable();
            self.divisionesSeleccionadas = ko.observableArray();
            self.selectAllDivisiones = ko.observable();
            self.listTipoCurso = ko.observableArray([
                {NOMBRE:"@Mandante.CharlasCursos.CrearEditar.Lbl_OPCIONAL", VALOR:"NO"},
                {NOMBRE:"@Mandante.CharlasCursos.CrearEditar.Lbl_OBLIGATORIO", VALOR:"SI"},
            ]);
            self.tipoCurso = ko.observable(model.Charla.OBLIGATORIO);
            self.area = ko.observable(model.Charla.ID_AREA);
            self.fechaDocRelacionado = ko.observable(model.Charla.ID_DOC_FEC);
            self.clasificacion = ko.observable(model.Charla.ID_CLASIFIACION);
            self.ambito = ko.observable(model.Charla.ID_AMBITO);

            for (var divison in model.DivisionesSeleccionadas) {
                self.divisionesSeleccionadas.push(new Divisiones(ko.toJS(model.DivisionesSeleccionadas[divison])));
            }
            self.selectAllDivisiones.subscribe(function (value) {
                ko.utils.arrayForEach(self.divisionesSeleccionadas(), function (division) {
                    division.CHECKED(value);
                });
            });

            self.saveCharlasCursos = function () {
                if ($('#form-valide-charlascurso').valid()) {
                    var divisiones;
                    ko.utils.arrayForEach(self.divisionesSeleccionadas(), function (division) {
                        if (division.CHECKED() === true) {
                            divisiones = divisiones ? divisiones + ',' + division.DIVCOD() : division.DIVCOD();
                        }
                    });
                    var data = {
                        IDCHARLA: model.Charla.IDCHARLA,
                        CHARLA: $("#CHARLA").val().toUpperCase(),
                        DESCRIP: $("#DESCRIP").val().toUpperCase(),
                        HORAS: parseInt($("#HORAS").val()),
                        VENCIMIENTO: parseInt($("#VENCIMIENTO").val()),
                        PORCENTAJE: parseInt($("#PORCENTAJE").val()),
                        OBLIGATORIO: self.tipoCurso(),
                        ID_AREA: self.area(),
                        ID_DOC_FEC: self.fechaDocRelacionado(),
                        ID_CLASIFIACION: self.clasificacion(),
                        ID_AMBITO: self.ambito(),
                        DIVISIONES: divisiones,
                    };
                    $.ajax({
                        global: true,
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: '@Url.Action("SaveCharla", "CharlasCursos", new { Area = "Mandante" })',
                        data: JSON.stringify(data),
                        success: function () {
                            swal({
                                title: '@Mandante.CharlasCursos.CrearEditar.Msg_GuardarInformacionOK',
                                timer: 3000,
                                type: "success",
                                showConfirmButton: true,
                            }, function () {
                                swal.close();
                            });
                        },
                        error: function () {
                            swal({
                                title: '@Mandante.CharlasCursos.CrearEditar.Msg_GuardarInformacionError',
                                timer: 3000,
                                type: "error",
                                showConfirmButton: true,
                            }, function () {
                                swal.close();
                            });
                        }
                    });
                }
            }

            self.cancelCharlaCurso = function () {
                var url = '@Url.Action("Index", "CharlasCursos", new { Area = "Mandante" })';
                window.location = url;
            };
        }

        var vm = new ViewModelCharlasCursos(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(vm);

        $("#form-valide-charlascurso").validate({
            ignore: [],
            rules: {
                "CHARLA": {
                    required: true,
                    maxlength: 50,
                },
                "DESCRIPCION": {
                    required: true,
                    maxlength: 60,
                },
                "HORAS": {
                    required: true,
                    range: [0, 100],
                },
                "VENCIMIENTO": {
                    required: true,
                    range: [0, 400],
                },
                "PORCENTAJE": {
                    required: true,
                }
            },
            messages: {
                "CHARLA": {
                    required: "@Mandante.CharlasCursos.CrearEditar.Val_Required_charla",
                    maxlength: "@Mandante.CharlasCursos.CrearEditar.Val_Maxlength_charla",
                },
                "DESCRIPCION": {
                    required: "@Mandante.CharlasCursos.CrearEditar.Val_Required_descripcion",
                    maxlength: "@Mandante.CharlasCursos.CrearEditar.Val_Maxlength_Descripcion",
                },
                "HORAS": {
                    required: "@Mandante.CharlasCursos.CrearEditar.Val_Required_horas",
                    range: "@Mandante.CharlasCursos.CrearEditar.Val_Rango_Horas",
                },
                "VENCIMIENTO": {
                    required: "@Mandante.CharlasCursos.CrearEditar.Val_Required_vencimiento",
                    range: "@Mandante.CharlasCursos.CrearEditar.Val_Rango_Vencimiento",
                },
                "PORCENTAJE": {
                    required: "@Mandante.CharlasCursos.CrearEditar.Val_Requerido_Porcentaje",
                }
            }
        });

</script>
}