@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <img src="~/images/webcontrol_logo_chico.png" alt="flag" class="img-responsive">
        <div>
            <div data-bind="attr: { class: 'callout callout-' + $root.classMensaje() }">
                <h4 data-bind="text: $root.titleMensaje"></h4>
                <span data-bind="text: $root.mensaje"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <form id="form-valide-recovery" name="form-valide-recovery">
            <fieldset>
                <legend class="text-center" data-bind="text: ($root.idTipoUsuario() == 'CTTA' ? '@General.RecoverPassword.Lgn_OlvidoClaveAcceso':'Desbloqueo de Cuenta o Recordatorio de Clave')"></legend>
                <div class="form-group">
                    <select name="TIPOUSUARIO" class="form-control" data-bind="options: $root.tipoUsuario,optionsText:'text',optionsValue:'value',value:$root.idTipoUsuario">
                    </select>
                </div>
                <div class="form-group" data-bind="if:$root.idTipoUsuario() == 'CTTA'">
                    <input type="text" class="form-control" placeholder="@General.RecoverPassword.Phl_IngreseIDEmpresa" id="txtIDEMPRESA" data-bind="value: IDEMPRESA" name="IDEMPRESA">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="@General.RecoverPassword.Phl_IngreseID" id="txtRUT" data-bind="value: RUT" name="RUT">
                </div>
                <div data-bind="if: $root.showMensaje()">
                    <button data-bind="click: $root.sendRecovery" class="btn btn-primary block full-width m-b">@General.RecoverPassword.Btn_RecuperarClave</button>
                </div>
                <button data-bind="click: $root.cancel" class="btn btn-danger block full-width m-b">@General.RecoverPassword.Btn_Regresar</button>
            </fieldset>
        </form>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/sweetAlert")

    <script>
        function RecoveryViewModel() {
            var self = this;
            self.IDEMPRESA = ko.observable();
            self.RUT = ko.observable();
            self.titleMensaje = ko.observable();
            self.classMensaje = ko.observable('info');
            self.showMensaje = ko.observable(true);
            self.mensaje = ko.observable();
            self.tipoUsuario = ko.observableArray([{ value: 'CTTA', text: '@General.Login.Item_Tipo_Contratista' }, { value: 'MDTE', text: '@General.Login.Item_Tipo_Mandante' }]);
            self.idTipoUsuario = ko.observable();
            self.idTipoUsuario.subscribe(function (value) {
                if (value == 'CTTA') {
                    self.titleMensaje('');
                    self.classMensaje('info')
                    self.mensaje('@Html.Raw(General.RecoverPassword.Msg_IngreseIDEmpresa)');
                }
                else {
                    self.IDEMPRESA(null);
                    self.titleMensaje('');
                    self.classMensaje('info')
                    self.mensaje('@Html.Raw(General.RecoverPassword.Msg_ClaveEnviadaCorreo)');
                }
            });

            self.cancel = function () {
                var url = '@Url.Action("LogOff", "Login", new { Area = "" })';
                window.location = url;
            }

            self.sendRecovery = function () {
                if ($('#form-valide-recovery').valid()) {
                    var data = {
                        IDEMPRESA: self.IDEMPRESA,
                        RUT: self.RUT,
                        TIPOUSUARIO: self.idTipoUsuario
                    }
                    $.ajax({
                        contentType: 'application/json',
                        type: 'POST',
                        url: '@Url.Action("RecoverPassword","Login")',
                        data: ko.toJSON(data),
                        success: function (response) {
                            debugger
                            if (response.Data == true) {
                                self.showMensaje(false);
                                self.classMensaje('info');
                                self.titleMensaje('@Html.Raw(General.RecoverPassword.Lbl_ContraseñaRecuperada)');
                                self.mensaje('@General.RecoverPassword.Lbl_EnvioCorrectamente '+ response.correo );
                                setTimeout(function () {
                                    window.location = '@Url.Action("LogOff", "Login", new { Area = "" })';
                                }, 20000);
                            }
                            else {
                                self.IDEMPRESA('');
                                self.RUT('');
                                self.showMensaje(true);
                                self.classMensaje('danger');
                                self.titleMensaje('@Html.Raw(General.RecoverPassword.Lbl_OcurridoError)');
                                if (self.idTipoUsuario() == 'CTTA')
                                    self.mensaje('@Html.Raw(General.RecoverPassword.Lbl_NoRegistradoBD)');
                                else
                                    self.mensaje('@Html.Raw(General.RecoverPassword.Msg_UsuarioNoRegistrado)');

                                setTimeout(function () {
                                    self.titleMensaje('');
                                    self.classMensaje('info');
                                    if (self.idTipoUsuario() == 'CTTA')
                                        self.mensaje('@Html.Raw(General.RecoverPassword.Msg_IngreseIDEmpresa)');
                                    else
                                        self.mensaje('@Html.Raw(General.RecoverPassword.Msg_ClaveEnviadaCorreo)');
                                }, 20000);
                            }
                        }
                    });
                }
            }
        };

        var vm = new RecoveryViewModel();
        ko.applyBindings(vm);

        jQuery.validator.addMethod("lettersnumbersonly", function (value, element) {
            return this.optional(element) || /^[a-zA-Z0-9]+$/i.test(value);
        }, '@Html.Raw(General.RecoverPassword.Val_NumerosLetrasSinEsp)');

        $("#form-valide-recovery").validate({
            rules: {
                "IDEMPRESA": {
                    required: true,
                    minlength: 8,
                    maxlength: 11,
                    lettersnumbersonly: true,
                    remote: {
                        url: '@Url.Action("ValidarEnterprise", "Login", new { Area = "" })',
                        type: "POST",
                        data: {
                            IDEMPRESA: function () {
                                return $("#txtIDEMPRESA").val();
                            }
                        }
                    }
                },
                "RUT": {
                    required: true,
                    minlength: 8,
                    maxlength: 10,
                    lettersnumbersonly: true,
                    remote: {
                        url: '@Url.Action("ValidarRUT", "Login", new { Area = "" })',
                        type: "POST",
                        data: {
                            RUT: function () {
                                return $("#txtRUT").val();
                            }
                        }
                    }
                },
            },
            messages: {
                "IDEMPRESA": {
                    required: '@General.RecoverPassword.Val_IDEmpresaRequerido',
                    minlength: '@General.RecoverPassword.Val_IDEmpresa8Caracteres',
                    maxlength: '@General.RecoverPassword.Val_IDEmpresa11CaracteresMáximo',
                    remote: '@General.RecoverPassword.Val_IDEmpresaInvalido'
                },
                "RUT": {
                    required: '@General.RecoverPassword.Val_IDRequerido',
                    minlength: '@General.RecoverPassword.Val_IDEmpresa8Caracteres',
                    maxlength: '@General.RecoverPassword.Val_ID10CaracteresMáximo',
                    remote: '@General.RecoverPassword.Val_IDNoValido'
                },
            }
        });
    </script>
}
