<div class="modal inmodal" id="searcher-transports" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  animated bounceInRight">
            <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">@Html.Raw(Mandante.Home.General.Lbl_BusquedaPatente)</h5>
            </div>
            <div class="modal-body" id="modal-searcher-transports">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Mostrar</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" data-bind="options:$root.listLength,value:length">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Registros</label>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped dataTable small" width="100%">
                    <thead>
                        <tr>
                            <th data-bind="click:function(data,event){order('0',this)}">
                                @Mandante.Home.General.Lbl_Patente
                                <div class="pull-right"><i data-bind="visible: sort() == 0,css: sort() == 0 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('1',this)}">
                                @Mandante.Home.General.Lbl_Marca
                                <div class="pull-right"><i data-bind="visible: sort() == 1,css: sort() == 1 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('2',this)}">
                                @Mandante.Home.General.Lbl_Modelo
                                <div class="pull-right"><i data-bind="visible: sort() == 2,css: sort() == 2 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('3',this)}">
                                @Mandante.Home.General.Lbl_Tipo
                                <div class="pull-right"><i data-bind="visible: sort() == 3,css: sort() == 3 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('4',this)}">
                                @Mandante.Home.General.Lbl_Anio
                                <div class="pull-right"><i data-bind="visible: sort() == 4,css: sort() == 4 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: listTransports">
                        <tr data-bind="click:function(data,event){$root.selectItem($data)}">
                            <td data-bind="text: PATENTE_FORMATO"></td>
                            <td data-bind="text: MARCA"></td>
                            <td data-bind="text: MODELO"></td>
                            <td data-bind="text: DSCTIPOV"></td>
                            <td data-bind="text: ANOFAB"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><input class="form-control input-sm" type="text" placeholder="PATENTE" data-bind="textInput: patente" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="MARCA" data-bind="textInput: marca" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="MODELO" data-bind="textInput: modelo" /></th>
                            <th>
                                <select class="form-control input-sm text-justify" data-bind="options:$root.listTipoVehiculo, optionsText:'DSCTIPOV', optionsValue:'DSCTIPOV',value:tipo, optionsCaption:'TODOS'">
                                </select>
                            </th>
                            <th><input class="form-control input-sm" type="text" placeholder="AÑO" data-bind="textInput: anio" /></th>
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="pull-right">
                        <ul id="pagination-transports" class="pagination"></ul>
                    </div>
                    <div class="pull-left">
                        @Mandante.Home.Tabla.Lbl_Mostrando <span data-bind="text: (start() + 1)"></span> @Mandante.Home.Tabla.Lbl_A <span data-bind="text: registros()"></span> @Mandante.Home.Tabla.Lbl_De <span data-bind="text: count()"></span> @Mandante.Home.Tabla.Lbl_Registros
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;@General._BuscadorFuncionarios.Tblf_BuscadorFuncionarios_Btn_Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/knockoutJS")
@Scripts.Render("~/bundles/jquery")

<script>

    var modelTransport = null;
    function loadSearcherTransports(idModal) {

        function TransportsViewModel() {
            ko.cleanNode($('#modal-searcher-transports')[0]);
            var self = this;
            self.idModal = ko.observable(idModal);
            self.listTransports = ko.observableArray();
            self.active = ko.observable(true);
            self.page = ko.observable();
            self.start = ko.observable(0);
            self.listLength = ko.observableArray([10, 25, 50, 100]);
            self.listTipoVehiculo = ko.observableArray();
            self.length = ko.observable(10);
            self.sort = ko.observable("0");
            self.ordering = ko.observable("asc");
            self.count = ko.observable(0);
            self.registros = ko.observable(self.length());
            self.patente = ko.observable().extend({ throttle: 1000 });
            self.marca = ko.observable().extend({ throttle: 1000 });
            self.modelo = ko.observable().extend({ throttle: 1000 });
            self.tipo = ko.observable().extend({ throttle: 1000 });
            self.anio = ko.observable().extend({ throttle: 1000 });

            self.addTransport = function (data) { for (var key in data) { self.listTransports.push(ko.toJS(data[key])); } }

            self.page.subscribe(function (value) {
                self.registros(value * self.length());
                var pag = ((value * self.length()) - self.length());
                self.start(pag);
            });

            self.order = function (value) {
                self.sort(value);
                self.start(0);
                self.ordering() == 'asc' ? self.ordering('desc') : self.ordering('asc');
            }

            self.length.subscribe(function () {
                self.init();
                self.registros(self.length());
            });
            self.ordering.subscribe(function () { self.init() });
            self.patente.subscribe(function () { self.init() });
            self.marca.subscribe(function () { self.init() });
            self.modelo.subscribe(function () { self.init() });
            self.tipo.subscribe(function () { self.init() });
            self.anio.subscribe(function () { self.init() });

            self.init = function () {
                if (self.active()) {
                    var data = {
                        START: self.start,
                        LENGTH: self.length,
                        COLUMN: self.sort,
                        DIRECTION: self.ordering,
                        PATENTE: self.patente,
                        MARCA: self.marca,
                        MODELO: self.modelo,
                        DSCTIPOV: self.tipo,
                        ANOFAB: self.anio
                    };

                    $('#pagination-transports').pagination({
                        ajax: function (options, refresh, $target) {
                            self.page(options.current),
                                $.ajax({
                                    global: false,
                                    url: '@Url.Action("_SearcherTransports", "Home", new { Area = "Mandante" })',
                                    data: data,
                                    dataType: 'json'
                                }).done(function (res) {
                                    self.listTransports.removeAll();
                                    self.addTransport(res.data);
                                    self.count(res.COUNT);
                                    refresh({
                                        total: res.COUNT,
                                        length: self.length()
                                    });
                                }).fail(function (error) { console.log('error'); });
                        },
                        prev: "@Mandante.Home.Tabla.Lbl_Anterior",
                        next: "@Mandante.Home.Tabla.Lbl_Siguiente"
                    });
                }
            }

            self.clear = function () {
                self.active(false);
                self.patente('');
                self.marca('');
                self.modelo('');
                self.tipo('');
                self.anio('');
                self.length(10);
                self.sort('0');
                self.ordering('asc');
            }

            self.selectItem = function (data) {
                switch (self.idModal()) {
                    case 1:
                        $('#txtPATENTE').val(data.PATENTE).trigger('change');
                        $('#txtMARCA').val(data.MARCA).trigger('change');
                        $('#txtMODELO').val(data.MODELO).trigger('change');
                        $('#txtTIPO').val(data.DSCTIPOV).trigger('change');
                        break;
                    case 3:
                        $('#txtPATENTE3').val(data.PATENTE).trigger('change');
                        $('#txtMARCA3').val(data.MARCA).trigger('change');
                        $('#txtMODELO3').val(data.MODELO).trigger('change');
                        $('#ddlTIPO3').val(data.TIPO).trigger('change');
                        $('#txtANOFAB3').val(data.ANOFAB).trigger('change');
                        break;
                }
                self.clear();
                $('#searcher-transports').modal('hide');
            }
        }

        var vmTransport = new TransportsViewModel();
        vmTransport.init();
        modelTransport = vmTransport;
        ko.applyBindings(vmTransport, $('#modal-searcher-transports')[0]);

        $.getJSON('@Url.Action("GetAllTypeTrans", "Home", new { Area = "Mandante" })', function (data) {
            vmTransport.listTipoVehiculo.removeAll();
            vmTransport.listTipoVehiculo(data);
        });

    }

</script>