<div class="modal inmodal" id="searcher-workersmdte" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  animated bounceInRight">
            <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Busqueda Administrador Mandante</h5>
            </div>
            <div class="modal-body" id="modal-searcher-workersmdte">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Mostrar</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control input-sm" data-bind="options:$root.listLength,value:length">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>@Mandante.Home.Tabla.Lbl_Registros</label>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped dataTable small" width="100%">
                    <thead>
                        <tr>
                            <th data-bind="click:function(data,event){order('0',this)}">
                                @Mandante.Home.General.Lbl_ID
                                <div class="pull-right"><i data-bind="visible: sort() == 0,css: sort() == 0 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('1',this)}">
                                @Mandante.Home.General.Lbl_Nombres
                                <div class="pull-right"><i data-bind="visible: sort() == 1,css: sort() == 1 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                            <th data-bind="click:function(data,event){order('2',this)}">
                                @Mandante.Home.General.Lbl_Apellidos
                                <div class="pull-right"><i data-bind="visible: sort() == 2,css: sort() == 2 && ordering() == 'asc' ? 'fa fa-sort-alpha-asc' : 'fa fa-sort-alpha-desc'"></i></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: listWorkersMdte">
                        <tr data-bind="click:function(data,event){$root.selectItem($data)}">
                            <td data-bind="text: RUT_FORMATO"></td>
                            <td data-bind="text: NOMBRES"></td>
                            <td data-bind="text: APELLIDOS"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><input class="form-control input-sm" type="text" placeholder="@Mandante.Home.General.Phl_ID" data-bind="textInput: id" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="@Mandante.Home.General.Phl_Nombres" data-bind="textInput: nombres" /></th>
                            <th><input class="form-control input-sm" type="text" placeholder="@Mandante.Home.General.Phl_Apellidos" data-bind="textInput: apellidos" /></th>
                        </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="pull-right">
                        <ul id="pagination-workersmdte" class="pagination"></ul>
                    </div>
                    <div class="pull-left">
                        @Mandante.Home.Tabla.Lbl_Mostrando <span data-bind="text: (start() + 1)"></span> @Mandante.Home.Tabla.Lbl_A <span data-bind="text: registros()"></span> @Mandante.Home.Tabla.Lbl_De <span data-bind="text: count()"></span> @Mandante.Home.Tabla.Lbl_Registros
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> &nbsp;@General._BuscadorFuncionarios.Tblf_BuscadorFuncionarios_Btn_Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/knockoutJS")
@Scripts.Render("~/bundles/jquery")

<script>

    var modelWorkersMdte = null;

    function loadSearcherWorkersMdte(idModal) {

        function WorkersMdteViewModel() {
            ko.cleanNode($('#modal-searcher-workersmdte')[0]);
            var self = this;
            self.idModal = ko.observable(idModal);
            self.listWorkersMdte = ko.observableArray();
            self.active = ko.observable(true);
            self.page = ko.observable();
            self.start = ko.observable(0);
            self.listLength = ko.observableArray([10, 25, 50, 100]);
            self.length = ko.observable(10);
            self.sort = ko.observable("0");
            self.ordering = ko.observable("asc");
            self.count = ko.observable(0);
            self.registros = ko.observable(self.length());
            self.id = ko.observable().extend({ throttle: 1000 });
            self.nombres = ko.observable().extend({ throttle: 1000 });
            self.apellidos = ko.observable().extend({ throttle: 1000 });

            self.addWorkerMdte = function (data) { for (var key in data) { self.listWorkersMdte.push(ko.toJS(data[key])); } }

            self.page.subscribe(function (value) {
                self.registros(value * self.length());
                var pag = ((value * self.length()) - self.length());
                self.start(pag);
            });

            self.order = function (value) {
                self.sort(value);
                self.start(0);
                self.ordering() == 'asc' ? self.ordering('desc') : self.ordering('asc');
            }

            self.length.subscribe(function () {
                self.init();
                self.registros(self.length());
            });

            self.ordering.subscribe(function () { self.init() });
            self.id.subscribe(function () { self.init() });
            self.nombres.subscribe(function () { self.init() });
            self.apellidos.subscribe(function () { self.init() });

            self.init = function () {
                if (self.active()) {
                    var data = {
                        START: self.start,
                        LENGTH: self.length,
                        COLUMN: self.sort,
                        DIRECTION: self.ordering,
                        RUT: self.id,
                        NOMBRES: self.nombres,
                        APELLIDOS: self.apellidos
                    };

                    $('#pagination-workersmdte').pagination({
                        ajax: function (options, refresh, $target) {
                            self.page(options.current),
                                $.ajax({
                                    global: false,
                                    url: '@Url.Action("_SearcherWorkersMdte", "Home", new { Area = "Mandante" })',
                                    data: data,
                                    dataType: 'json'
                                }).done(function (res) {
                                    self.listWorkersMdte.removeAll();
                                    self.addWorkerMdte(res.data);
                                    self.count(res.COUNT);
                                    refresh({
                                        total: res.COUNT,
                                        length: self.length()
                                    });
                                }).fail(function (error) { console.log('error'); });
                        },
                        prev: "@Mandante.Home.Tabla.Lbl_Anterior",
                        next: "@Mandante.Home.Tabla.Lbl_Siguiente"
                    });
                }
            }

            self.clear = function () {
                self.active(false);
                self.length(10);
                self.sort('0');
                self.ordering('asc');
                self.id('');
                self.nombres('');
                self.apellidos('');
            }

            self.selectItem = function (data) {
                switch (self.idModal()) {
                    case 1:
                        $('#idAdministradorMdte').val(data.RUT).trigger('change');
                        $('#nombreAdministradorMdte').val(data.NOMBRES).trigger('change');
                        $('#apellidosAdministradorMdte').val(data.APELLIDOS).trigger('change');
                        break;
                    case 2:
                        $('#idDelegado').val(data.RUT).trigger('change');
                        $('#nombreDelegado').val(data.NOMBRES).trigger('change');
                        $('#apellidosDelegado').val(data.APELLIDOS).trigger('change');
                        break;
                }
                self.clear();
                $('#searcher-workersmdte').modal('hide');
            }
        }

        var vmWorkersMdte = new WorkersMdteViewModel();
        vmWorkersMdte.init();
        modelWorkersMdte = vmWorkersMdte;
        ko.applyBindings(vmWorkersMdte, $('#modal-searcher-workersmdte')[0]);

    }

</script>



