<style>
    .background-ConsultaRapida {
        background-color: #2F4052;
        border-color: #fff;
        border-style: solid;
    }

        .background-ConsultaRapida .labelConsulta {
            color: #DFE4ED;
        }
</style>
<div class="ibox-content background-ConsultaRapida">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h3 class="m-t-none m-b labelConsulta"><label>@Contratista.InformesConsultaRapida._ConsultaRapida.Lbl_ConsultasRapidas</label></h3>
                @if (Session["TIPOUSUARIO"].ToString() == "CTTA")
                {
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaID" action="@Url.Action("InformeConsultaRapidaID", "InformesConsultaRapida", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="control-label labelConsulta">@Contratista.InformesConsultaRapida._ConsultaRapida.Lbl_IDFuncionario</label>
                            <div class="input-group">
                                <input name="RUT" id="txtID_MODALCR_1" class="form-control" placeholder="ID" readonly />
                                <span class="input-group-addon btn" data-toggle="modal" data-target="#BuscadorFuncionarios" data-modal-id="10">
                                    <i class="icon fa fa-search"></i>
                                </span>
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaPase" action="@Url.Action("InformeConsultaRapidaPase", "InformesConsultaRapida", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="labelConsulta">@Contratista.InformesConsultaRapida._ConsultaRapida.Lbl_Pase</label>
                            <div class="input-group">
                                <input name="NLOTEPROC" id="txtNLOTEPROCVAL" class="form-control" placeholder="@Contratista.InformesConsultaRapida._ConsultaRapida.Phl_Pase" />
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" action="@Url.Action("InformeFichaEmpresa", "InformesEmpresas", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="labelConsulta">@Contratista.InformesConsultaRapida._ConsultaRapida.Lbl_Empresa</label>
                            <div class="input-group">
                                <input name="IDEMPRESA" class="form-control" value='@Session["IDEMPRESA"].ToString()' readonly>
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaID" action="@Url.Action("InformeConsultaRapidaID", "InformesConsultaRapida", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="control-label labelConsulta">ID Funcionario</label>
                            <div class="input-group">
                                <input name="RUT" id="txtID_MODAL_1" class="form-control" placeholder="ID" />
                                <span class="input-group-addon btn" data-toggle="modal" data-target="#BuscadorFuncionarios" data-modal-id="1">
                                    <i class="icon fa fa-search"></i>
                                </span>
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaPase" action="@Url.Action("InformeConsultaRapidaPase", "InformesConsultaRapida", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="labelConsulta">Pase</label>
                            <div class="input-group">
                                <input type="number" name="NLOTEPROC" id="txtNLOTEPROCVAL" class="form-control" placeholder="Pase" />
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaFichaEmpresa" action="@Url.Action("InformeFichaEmpresa", "InformesEmpresas", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="labelConsulta">ID Empresa</label>
                            <div class="input-group">
                                <input name="IDEMPRESA" id="txtIDEMPRESA_MODAL_1" class="form-control" placeholder="Empresa" readonly/>
                                <span class="input-group-addon btn" data-toggle="modal" data-target="#BuscadorEmpresas" data-modal-eid="1">
                                    <i class="icon fa fa-search"></i>
                                </span>
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="form-valide-InformeConsultaRapidaFichaVehiculo" action="@Url.Action("InformeFichaVehiculo", "InformesVehiculos", new { Area = "" })" method="get" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label class="labelConsulta">Patente</label>
                            <div class="input-group">
                                <input name="PATENTE" id="txtPATENTEVAL" class="form-control" placeholder="Patente" readonly/>
                                <span class="input-group-addon btn" data-toggle="modal" data-target="#BuscadorVehiculos" data-modal-vid="3">
                                    <i class="icon fa fa-search"></i>
                                </span>
                                <span class="input-group-addon btn">
                                    <button type="submit"><i class="fa fa-bar-chart-o"></i></button>
                                </span>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

