@model V4mvc.Presentation.Controllers.InformesFuncionariosController.ViewModel_InformeFuncionarios
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeID">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td colspan="2" class="text-left tituloTabla"><strong>Filtros del Informe</strong></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>Rut</strong></td>
                <td data-bind="text:RUT_FORMATO"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>Nombres</strong></td>
                <td data-bind="text:NOMBRES"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>Apellidos</strong></td>
                <td data-bind="text:APELLIDOS"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>Mes Consulta</strong></td>
                <td data-bind="text:PERIODO_LETRA"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">Funcionario - Accesos Mensuales Detalle</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table class="table table-bordered" id="Tabla">
                <thead>
                    <tr>
                        <th class="text-center" colspan="15">Registros Detallados de mes</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">Rut</th>
                        <th class="text-center">Empresa</th>
                        <th class="text-center">Contrato</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Hora</th>
                        <th class="text-center">Ingreso</th>
                        <th class="text-center">Alerta Ingreso</th>
                        <th class="text-center">Salida</th>
                        <th class="text-center">Alerta Salida</th>
                        <th class="text-center">División</th>
                        <th class="text-center">Local</th>
                        <th class="text-center">Patente</th>
                        <th class="text-center">Tipo Vehículo</th>
                        <th class="text-center">Guardia</th>
                        <th class="text-center">PDA</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.accesos">
                    <tr>
                        <td class="text-center">
                            <u><a data-bind="text:RUTINGRESO_FORMATO,click:function(data,event){VerFichaFuncionario(RUTINGRESO)}"></a></u>
                        </td>
                        <td class="text-center" data-bind="text:ACRONIMO"></td>
                        <td class="text-center" data-bind="text:OST"></td>
                        <td class="text-center" data-bind="text:FECHA_INFORME_FORMATO"></td>
                        <td class="text-center" data-bind="text:HORA"></td>
                        <td class="text-right" data-bind="text:INGRESO_INT"></td>
                        <td class="text-center">
                            <div data-bind="if:ERRIN>0">
                                <a data-bind="text:MSG_REPORT"></a>
                            </div>
                        </td>
                        <td class="text-right" data-bind="text:SALIDA_INT"></td>
                        <td class="text-center">
                            <div data-bind="if:ERROUT>0">
                                <a data-bind="text:MSG_REPORT"></a>
                            </div>
                        </td>
                        <td class="text-center" data-bind="text:DIVISION"></td>
                        <td class="text-center" data-bind="text:LOCAL"></td>
                        <td class="text-center" data-bind="text:PATENTE_FORMATO"></td>
                        <td class="text-center" data-bind="text:DSCTIPOV"></td>
                        <td class="text-center">
                            <u><a data-bind="text:USUARIO_FORMATO,click:function(data,event){VerFichaFuncionario(USUARIO)}"></a></u>
                        </td>
                        <td class="text-center" data-bind="text:COD_PDA"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">TOTAL</td>
                        <td class="text-right" data-bind="text:$root.accesos.reduce((sum, value) => ( sum + value.INGRESO_INT ), 0)"></td>
                        <td></td>
                        <td class="text-right" data-bind="text:$root.accesos.reduce((sum, value) => ( sum + value.SALIDA_INT ), 0)"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>


<div class="notices">
    <div>@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Msg_Nota</div>
    <div class="notice">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Msg_NotaMensaje</div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")
    <script>
    function IndexViewModel(model) {
        var self = this;
        self.accesos = model.accesos;
        self.datosInformeID = model.datosInformeID;
    }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}