@model V4mvc.Presentation.Controllers.InformesFuncionariosController.ViewModel_InformeFuncionarios
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformePase">
    <div class="col-md-12 invoice-details">
        <h1 class="invoice-id">@Contratista.InformesFuncionarios.InformePasesHistoricos.Lbl_FichaFuncionarioPasesHistoricos</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table class="table table-bordered" id="TablaInformeConsultaRapidaFichaVehiculo">
                <thead>
                    <tr>
                        <th class="text-center" colspan="13">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_PasesSolicitadosAutorizados</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_ID</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Nombres</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Apellidos</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Empresa</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Operacion</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Lote</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_FechaInicio</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_FechaFinal</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_TipoPase</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_Contrato</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_PaseAutorizado</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_EstadoPase</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformePasesHistoricos.Tblh_Grid_SolicConducción</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.funcionarios">
                    <tr>
                        <td class="text-left" data-bind="text:RUTLOTE_FORMATO"></td>
                        <td class="text-left" data-bind="text:NOMBRES"></td>
                        <td class="text-left" data-bind="text:APELLIDOS"></td>
                        <td class="text-center">
                            <u><a data-bind="text:ACRONIMO,click:function(data,event){VerFichaEmpresa(IDEMPRESA)}"></a></u>
                        </td>

                        <td class="text-center" data-bind="text:DIVISION"></td>
                        <td class="text-center">
                            <u><a data-bind="text:LOTENUM,click:function(data,event){VerFichaPases(LOTENUM)}"></a></u>
                        </td>
                        <td class="text-center" data-bind="text:LOTEFINICIO_LETRA"></td>
                        <td class="text-center" data-bind="text:LOTEFFINAL_LETRA"></td>

                        <td class="text-center" data-bind="text:TIPOLT"></td>
                        <td class="text-center" data-bind="text:OSTLT"></td>
                        <td class="text-center">
                            <div data-bind="if:LOTEESTADO=='SI'">
                                <a class="label label-primary" data-bind="text:DESC_ESTADO"></a>
                            </div>
                            <div data-bind="if:LOTEESTADO=='RE'">
                                <a class="label label-danger" data-bind="text:DESC_ESTADO"></a>
                            </div>
                            <div data-bind="if:LOTEESTADO=='NO'">
                                <a class="label label-success" data-bind="text:DESC_ESTADO"></a>
                            </div>
                            <div data-bind="if:LOTEESTADO=='PE'">
                                <a class="label label-success" data-bind="text:DESC_ESTADO"></a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:AUTOR=='SI'">
                                <a class="label label-primary">SI</a>
                            </div>
                            <div data-bind="if:AUTOR!='SI'">
                                <a class="label label-danger" data-bind="text:AUTOR"></a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:LICONDLT=='SI'">
                                <a class="label label-primary">SI</a>
                            </div>
                            <div data-bind="if:LICONDLT!='SI'">
                                <a class="label label-danger">NO</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="notices">
    <div>@Contratista.InformesFuncionarios.InformePasesHistoricos.Msg_Nota</div>
    <div class="notice">@Contratista.InformesFuncionarios.InformePasesHistoricos.Msg_NotaMensaje</div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")
    <script>
    function IndexViewModel(model) {
        var self = this;
        self.funcionarios = model.funcionarios;
        self.datosInformePase = model.datosInformePase;
    }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}