@model V4mvc.Presentation.Controllers.InformesFuncionariosController.ViewModel_InformeFuncionarios
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeID">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_Datos_ID</strong></td>
                <td data-bind="text:RUT_FORMATO"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_Datos_Nombre</strong></td>
                <td data-bind="text:NOMBRES+' '+APELLIDOS"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_Datos_Operación</strong></td>
                <td data-bind="text:DIVISION"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_Datos_Empresa</strong></td>
                <td data-bind="text:ACRONIMO"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_Datos_TipoPase</strong></td>
                <td data-bind="text:TIPOPASE"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Lbl_DetalleResultadoCertificacionYFechasFuncionario</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>


<div class="row" data-bind="with:datosInformeID">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table class="table table-bordered" id="TablaInformeConsultaRapidaFichaVehiculo">
                <thead>
                    <tr>
                        <th class="text-center" colspan="4">
                            @Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosFuncionarios_DocumentosYFechasFuncionariosSegunOperacion
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosFuncionarios_Documento</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosFuncionarios_Estado</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosFuncionarios_Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: $root.documentos1 -->
                    <tr>
                        <td class="text-left" data-bind="text:NOMBRE"></td>
                        <td class="text-center">
                            <div data-bind="if:ESTADO=='SI'">
                                <div data-bind="if:CONFIDENCIAL=='SI'">
                                    <a class="label label-info">VALIDADO</a>
                                </div>
                                <div data-bind="if:CONFIDENCIAL!='SI'">
                                    <a class="label label-info">
                                        @*data-bind="attr:{href:'@Url.Action("DownLoadFile","Home", new { Area = "Contratista" })?id=' + ID_DOC}">*@
                                    <u>VALIDADO</u>
                                </a>
                            </div>
                        </div>
                        <div data-bind="if:ESTADO=='RE'">
                            <a class="label label-danger">RECHAZADO</a>
                        </div>
                        <div data-bind="if:ESTADO=='NO'">
                            <div data-bind="if:CONFIDENCIAL=='SI'">
                                <a class="label label-warning">PENDIENTE</a>
                            </div>
                            <div data-bind="if:CONFIDENCIAL!='SI'">
                                <a class="label label-warning">
                                    @*data-bind="attr:{href:'@Url.Action("DownLoadFile","Home", new { Area = "Contratista" })?id=' + ID_DOC}">*@
                                <u>PENDIENTE</u>
                            </a>
                        </div>
                    </div>
                    <div data-bind="if:ESTADO!='SI' && ESTADO!='RE' && ESTADO!='NO'">
                        <a class="label label-danger" data-bind="text:ESTADO"></a>
                    </div>
                </td>
                <td class="text-center">
                    <table width="80%">
                        <tbody data-bind="foreach:LISTA_FECHAS">
                            <tr>
                                <td class="text-left" colspan="3" data-bind="text:OBLIGATORIO=='*'?'(*)'+NOMBRE:NOMBRE"></td>
                                <td class="text-right" colspan="3">
                                    <div data-bind="if:ESTILO=='color-green'">
                                        <a class="label label-info" data-bind="text:FECHA_FORMAT"></a>
                                    </div>
                                    <div data-bind="if:ESTILO!='color-green'">
                                        <a class="label label-danger" data-bind="text:FECHA_FORMAT"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td class="text-left">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_DocumentosFuncionarios_PermiteAccesoAFaena</td>
                <td class="text-center">
                    <!-- ko if: $root.ACCESO_FAENA == 1 -->
                    <a class="label label-info">SI</a>
                    <!-- /ko -->
                    <!-- ko ifnot: $root.ACCESO_FAENA == 1 -->
                    <a class="label label-danger">NO</a>
                    <!-- /ko -->
                </td>
                <td class="text-center">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<div class="row" data-bind="with:datosInformeID">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table class="table table-bordered" id="TablaInformeConsultaRapidaFichaVehiculo">
                <thead>
                    <tr>
                        <th class="text-center" colspan="4">
                            @Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosConductores_DocumentosYFechasConductoresEnFaena
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosConductores_Documento</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosConductores_Estado</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblh_DocumentosConductores_Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_DocumentosConductores_PoseePaseConducionEnFaena</td>
                        <td class="text-center">
                            <div data-bind="if:LICONDLT=='SI'">
                                <a class="label label-info">SI</a>
                            </div>
                            <div data-bind="if:LICONDLT!='SI'">
                                <a class="label label-danger">NO</a>
                            </div>
                        </td>
                        <td class="text-center">
                        </td>
                    </tr>
                    <!-- ko foreach: $root.documentos2 -->
                    <tr>
                        <td class="text-left" data-bind="text:OBLIGATORIO=='*'?'(*)'+NOMBRE:NOMBRE"></td>
                        <td class="text-center">
                            <div data-bind="if:ESTADO=='SI'">
                                <div data-bind="if:CONFIDENCIAL=='SI'">
                                    <a class="label label-info">VALIDADO</a>
                                </div>
                                <div data-bind="if:CONFIDENCIAL!='SI'">
                                    <a class="label label-info">
                                        @*data-bind="attr:{href:'@Url.Action("DownLoadFile","Home", new { Area = "Contratista" })?id=' + ID_DOC}">*@
                                    <u>VALIDADO</u>
                                </a>
                            </div>
                        </div>
                        <div data-bind="if:ESTADO=='RE'">
                            <a class="label label-danger">RECHAZADO</a>
                        </div>
                        <div data-bind="if:ESTADO=='NO'">
                            <div data-bind="if:CONFIDENCIAL=='SI'">
                                <a class="label label-warning">PENDIENTE</a>
                            </div>
                            <div data-bind="if:CONFIDENCIAL!='SI'">
                                <a class="label label-warning">
                                    @*data-bind="attr:{href:'@Url.Action("DownLoadFile","Home", new { Area = "Contratista" })?id=' + ID_DOC}">*@
                                <u>PENDIENTE</u>
                            </a>
                        </div>
                    </div>
                    <div data-bind="if:ESTADO!='SI' && ESTADO!='RE' && ESTADO!='NO'">
                        <a class="label label-danger" data-bind="text:ESTADO"></a>
                    </div>
                </td>
                <td class="text-center">
                    <table width="80%">
                        <tbody data-bind="foreach:LISTA_FECHAS">
                            <tr data-bind="if: LICENCIAS != 'NO' && LICENCIAS !=null">
                                <td class="text-left" colspan="3">Tipos Licencias</td>
                                <td class="text-right" colspan="3">
                                    <div>
                                        <a data-bind="text:LICENCIAS"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="3" data-bind="text:OBLIGATORIO=='*'?'(*)'+NOMBRE:NOMBRE"></td>
                                <td class="text-right" colspan="3">
                                    <div data-bind="if:ESTILO=='color-green'">
                                        <a class="label label-info" data-bind="text:FECHA_FORMAT"></a>
                                    </div>
                                    <div data-bind="if:ESTILO!='color-green'">
                                        <a class="label label-danger" data-bind="text:FECHA_FORMAT"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td class="text-left">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Tblb_DocumentosConductores_PermiteConduccionEnFaena</td>
                <td class="text-center">
                    <div data-bind="if:CERT==1">
                        <a class="label label-info">SI</a>
                    </div>
                    <div data-bind="if:CERT==0">
                        <a class="label label-danger">NO</a>
                    </div>
                </td>
                <td class="text-center">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>


<div class="notices">
    <div>@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Msg_Nota</div>
    <div class="notice">@Contratista.InformesFuncionarios.InformeFichaFuncionarios_Detalle.Msg_NotaMensaje </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")
    <script>
    function IndexViewModel(model) {
        var self = this;
        self.documentos1 = model.documentos1;
        self.documentos2 = model.documentos2;
        self.datosInformeID = model.datosInformeID;
        self.ACCESO_FAENA = model.ACCESO_FAENA;
    }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}



