@model V4mvc.Presentation.Controllers.InformesFuncionariosController.ViewModel_InformeFuncionarios
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeID">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblb_Datos_ID</strong></td>
                <td>
                    <u><a data-bind="text:RUT_LETRA,click:function(data,event){VerFichaFuncionario(RUT)}"></a></u>
                </td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblb_Datos_Nombres</strong></td>
                <td data-bind="text:NOMBRES"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblb_Datos_Apellidos</strong></td>
                <td data-bind="text:APELLIDOS"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblb_Datos_MesConsulta</strong></td>
                <td data-bind="text:PERIODO_LETRA"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Lbl_FuncionarioAccesosMensuales</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 bootstrap-grid" data-bind="if: $root.accesos.length != 0">
        <div class="table-responsive">
            <table class="table table-bordered" id="Tabla">
                <thead>
                    <tr>
                        <th class="text-center" colspan="8">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_CuentaDeRegistrosMesActualEnCurso</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_ID</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_Nombres</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_Apellidos</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_Ingresos</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_AlertasEntradas</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_Salidas</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_AlertasSalidas</th>
                        <th class="text-center">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblh_Grid_Detalle</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.accesos">
                    <tr>
                        <td class="text-center">
                            <u><a data-bind="text:RUTINGRESO_FORMATO,click:function(data,event){VerFichaFuncionario(RUTINGRESO)}"></a></u>
                        </td>
                        <td class="text-left" data-bind="text:NOMBRES"></td>
                        <td class="text-left" data-bind="text:APELLIDOS"></td>
                        <td class="text-center" data-bind="text:INGRESO"></td>
                        <td class="text-center" data-bind="text:ALERTAIN"></td>
                        <td class="text-center" data-bind="text:SALIDA"></td>
                        <td class="text-center" data-bind="text:ALERTAOUT"></td>
                        <td class="text-center">
                            <u><a data-bind="click:function(data,event){VerMovimientoIngresoSalidaMesActual_Detalle(RUTINGRESO)}">@Contratista.InformesFuncionarios.InformeMovimientoIngSalMesActual.Tblb_Grid_VerDetalle</a></u>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div data-bind="if: $root.accesos.length == 0">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-info-circle"></i>
            <span>No hay coincidencias para su búsqueda</span>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")
    <script>
    function IndexViewModel(model) {
        var self = this;
        self.accesos = model.accesos;
        self.datosInformeID = model.datosInformeID;
        }
    function VerMovimientoIngresoSalidaMesActual_Detalle(RUTINGRESO) {
            var url = '@Url.Action("InformeMovimientoIngSalMesActual_Detalle", "InformesFuncionarios", new { Area = "" })?RUTINGRESO=' + RUTINGRESO;
            window.location = url;
        }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}