@model V4mvc.Presentation.Controllers.InformesFuncionariosController.ViewModel_InformeFuncionarios
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeID">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_ID</strong></td>
                <td class="text-left" data-bind="text:RUT_LETRA"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_Nombres</strong></td>
                <td class="text-left" data-bind="text:NOMBRES"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_Apellidos</strong></td>
                <td class="text-left" data-bind="text:APELLIDOS"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_FechadeNac</strong></td>
                <td class="text-left" data-bind="text:FECHA_NACIMIENTO2_EDAD"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_Nacionalidad</strong></td>
                <td class="text-left" data-bind="text:NACIONALIDAD"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_Genero</strong></td>
                <td class="text-left" data-bind="text:SEXO"></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Datos_FichaFuncionario</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table width="100%" class="table table-bordered" id="TablaInformeFichaID" border="0" cellspacing="1" cellpadding="0">


                <tbody>
                    <tr>
                        <td width="100">&nbsp;</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Empresa</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Operacion</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Lote</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_FechaInicio</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_FechaFinal</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_TipoPase</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Contrato</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_PaseAut</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Certificacion</td>
                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_Conducción</td>
                        <td class="tituloTabla">&nbsp;</td>
                    </tr>
                    <tr>


                        <td width="100" class="tituloTabla" data-bind="attr: { rowspan: function(){ if(empresas.length == 0) return 1; else return empresas.length+1; }()}">
                            @Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Empresa_PasesdeEmpresasSolicitados
                        </td>
                    </tr>
                    <!-- ko foreach: $root.empresas -->
                    <tr>
                        <td class="text-center">
                            <u><a data-bind="text:ACRONIMO,click:function(data,event){VerFichaEmpresa(EMPRESA)}"></a></u>
                        </td>
                        <td class="text-center" data-bind="text:DIVISION"></td>
                        <td class="text-center">
                            <div data-bind="if:LOTE!=0">
                                <u><a data-bind="text:LOTE,click:function(data,event){VerFichaPases(LOTE)}"></a></u>
                            </div>
                            <div data-bind="if:LOTE==0">
                                0
                            </div>
                        </td>
                        <td class="text-center" data-bind="text:FINIPASE_LETRA"></td>
                        <td class="text-center" data-bind="text:FFINPASE_LETRA"></td>
                        <td class="text-center" data-bind="text:TIPOPASE"></td>
                        <td class="text-center" data-bind="text:OST"></td>
                        <td class="text-center">
                            <div data-bind="if:AUTOR!='SI'">
                                <a class="label label-danger" data-bind="text:AUTOR"></a>
                            </div>
                            <div data-bind="if:AUTOR=='SI'">
                                <a class="label label-info">SI</a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:CERT==0">
                                <a class="label label-danger">NO</a>
                            </div>
                            <div data-bind="if:CERT==1">
                                <a class="label label-info">SI</a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:CONDUCTOR==0">
                                <a class="label label-danger">NO</a>
                            </div>
                            <div data-bind="if:CONDUCTOR==1">
                                <a class="label label-info">SI</a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:ACRONIMO">
                                <u><a data-bind="click:function(data,event){VerFuncionariosDetalle(RUT,EMPRESA,DIVCOD,TIPOPASE)}">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Lbl_VerDetalle</a></u>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko foreach: $root.movimientos -->
                    <tr>
                        <td width="100" class="tituloTabla" valign="top">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Lbl_UltimosMovimiento</td>
                        <td class="Contenido" valign="top" colspan="11">
                            <table class="table table-bordered" id="TablaInformeFichaID2" width="100%" border="0" cellspacing="1" cellpadding="1">
                                <tbody>
                                    <tr>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimienotos_Estado</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_UltimaEntrada</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_ÚltimaSalida</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_Operacion</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_LocalUltimoControl</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_Casino</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_FechaUltimoServicio</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div data-bind="if:IN_CAS==0">
                                                <a class="label label-danger">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_FueradeFaena</a>
                                            </div>
                                            <div data-bind="if:IN_CAS==1">
                                                <a class="label label-info">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_EnFaena</a>
                                            </div>
                                        </td>
                                        <td data-bind="text:FECHAIN_LETRA+' '+HORAIN"></td>
                                        <td data-bind="text:FECHAOUT_LETRA+' '+HORAOUT"></td>
                                        <td data-bind="text:DIVISION"></td>
                                        <td data-bind="text:LOCAL"></td>
                                        <td data-bind="text:LOCALCASINO"></td>
                                        <td data-bind="text:FECHACASINO_LETRA+' '+HORACASINO"></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_EstadoZonaControlada</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_UltimaEntradaZona</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_UltimaSalidaZona</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_DivisionZona</td>
                                        <td class="tituloTabla">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_UltimaZonaControlada</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div data-bind="if:INZ>0">
                                                <a class="label label-info">En zona</a>
                                            </div>
                                            <div data-bind="if:OUTZ>0">
                                                <a class="label label-danger">Fuera de zona</a>
                                            </div>
                                        </td>
                                        <td data-bind="text:FECHAINZ_LETRA+' '+HORAINZ"></td>
                                        <td data-bind="text:FECHAOUTZ_LETRA+' '+HORAOUTZ"></td>
                                        <td data-bind="text:DIVISIONZ"></td>
                                        <td data-bind="text:ZONA"></td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <tr data-bind="with:datosInformeID">
                        <td width="100" class="tituloTabla" valign="top" rowspan="2">
                            @Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_ConsultasAdicionales
                        </td>
                        <td class="Contenido" valign="top" rowspan="2" colspan="11">
                            <u><a data-bind="click:function(data,event){VerPasesHistoricos(RUT)}">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_PasesHistoricos</a>,</u>
                            <u><a data-bind="click:function(data,event){VerMovimientoIngSalMesActual(RUT)}">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_MovimientoIngSalMesActual</a>,</u>
                            <u><a data-bind="click:function(data,event){VerConsumoCasinoMesActual(RUT)}">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_ConsumosCasinoMesActual</a>,</u>
                            <u><a data-bind="click:function(data,event){VerCharlasyReservas(RUT)}">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_CharlasyReservas</a>,</u>
                            @*<u><a href="">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Tblb_Movimientos_AcreditaciónOficio</a></u>*@
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>


<div class="notices">
    <div>@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Msg_Nota</div>
    <div class="notice">@Contratista.InformesFuncionarios.InformeFichaFuncionarios.Msg_NotaMensaje</div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")

    <script>
    function IndexViewModel(model) {
        var self = this;
        self.datosInformeID = model.datosInformeID;
        self.movimientos = model.movimientos;
        self.empresas = model.empresas;
    }
        function VerPasesHistoricos(RUTLOTE) {
           var url = '@Url.Action("InformePasesHistoricos", "InformesFuncionarios", new { Area = "" })?RUTLOTE=' + RUTLOTE;
            window.location = url;
        }
        function VerMovimientoIngSalMesActual(RUTINGRESO) {
            var url = '@Url.Action("InformeMovimientoIngSalMesActual", "InformesFuncionarios", new { Area = "" })?RUTINGRESO=' + RUTINGRESO;
                window.location = url;
        }
       function VerConsumoCasinoMesActual(RUT) {
           var url = '@Url.Action("InformeConsumoCasinoMesActual", "InformesFuncionarios", new { Area = "" })?RUT=' + RUT;
                window.location = url;
       }
       function VerCharlasyReservas(RUT) {
           var url = '@Url.Action("InformeCharlasYReservas", "InformesFuncionarios", new { Area = "" })?RUT=' + RUT;
                window.location = url;
    }
    function VerFuncionariosDetalle(RUT, IDEMPRESA, DIVCOD, TIPOPASE) {
           var url = '@Url.Action("InformeFichaFuncionarios_Detalle", "InformesFuncionarios", new { Area = "" })?RUT=' + RUT + '&IDEMPRESA=' + IDEMPRESA + '&DIVCOD=' + DIVCOD + '&TIPOPASE=' + TIPOPASE;
                window.location = url;
        }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}