@model V4mvc.Entities.Solicitud


@{
    ViewBag.Title = "CrearEditar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <ul class="breadcrumb_links">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="@Url.Action("DashBoard", "DashBoard", new { Area = "Usuario" })">DashBoard</a></li>
            <li><a href="@Url.Action("Index", "Solicitud", new { Area = "Usuario" })">Listado de Solicitudes</a></li>
            <li class="active">
                <div>
                    <span data-bind="text: 'Nueva Solicitud '"> </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success" id="FORM_SOLICITUD_CREAREDITAR">
                <div class="panel-heading">
                    <h2 data-bind=" if: $root.createSolicitud() != true">
                        <span>
                            Listado de Solicitudes
                            &nbsp;<span class="fa fa-chevron-circle-right"></span>&nbsp;
                            Seleccione una CategorÍa
                        </span>
                    </h2>
                    <h2 data-bind=" if: $root.createSolicitud() == true">
                        <span>
                            Nueva Solicitud
                            &nbsp;<span class="fa fa-chevron-circle-right" data-bind=" text: ' Categoria ' + $root.nameService()"></span>&nbsp;

                        </span>
                    </h2>

                </div>

                <div class="panel-body" data-bind="with: modelSolicitud">

                    <div data-bind="if: $root.createSolicitud() != true" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading" data-bind="text:'Categoria ' + $root.nameService()"></div>
                                    <div class="panel-body">
                                        <!--ko foreach:$root.listServicios-->
                                        <div class="icheck-greensea">
                                            <input type="radio" data-bind="checked:$root.IDSOLICITUD,attr:{id:NOMBRE , name:1}, value:VALOR" />
                                            <label data-bind="text:NOMBRE, attr:{for:NOMBRE, name:1}"> </label>
                                        </div>
                                        <!--/ko-->
                                    </div>
                                </div>
                            </div>
                            <!--ko if: $root.SerTi() == true-->
                            <div class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Servicios</div>
                                    <div class="panel-body">
                                        <div data-bind="foreach:$root.listSerTi">
                                            <div class="col-md-10">
                                                <div class="icheck-greensea">
                                                    <input type="radio" data-bind="checked:$root.IDSERVICIO,attr:{id:NOMBRE , name:2}" />
                                                    <label data-bind="text:NOMBRE, attr:{for:NOMBRE, name:2}"> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!--ko if: $root.SerRRHH() == true-->
                            <div class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Servicio</div>
                                    <div class="panel-body">
                                        <div data-bind="foreach:$root.listSerRRHH">
                                            <div class="col-md-10">
                                                <div class="icheck-greensea">
                                                    <input type="radio" data-bind="checked:$root.IDSERVICIO,attr:{id:NOMBRE , name:2}" />
                                                    <label data-bind="text:NOMBRE, attr:{for:NOMBRE, name:2}"> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                            <!--ko if: $root.Intalaciones() == true-->
                            <div class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Servicio</div>
                                    <div class="panel-body">
                                        <div data-bind="foreach:$root.listIntalaciones">
                                            <div class="col-md-10">
                                                <div class="icheck-greensea">
                                                    <input type="radio" data-bind="checked:$root.IDSERVICIO,attr:{id:NOMBRE , name:2}" />
                                                    <label data-bind="text:NOMBRE, attr:{for:NOMBRE, name:2}"> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ko-->
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-md-12">
                                <!--ko if: $root.IDSERVICIO() != ''-->
                                <button id="Save_Personales" class="btn btn-success btn-rounded btn-lg" data-bind="click:$root.continueSolitud"><i class="fa fa-angle-double-right"></i>&nbsp;Continuar</button>
                                <!--/ko-->
                                <button class="btn btn-danger btn-rounded btn-lg" data-bind="click:$root.cancelCharlaCurso">
                                    <i class="fa fa-times"></i>&nbsp;&nbsp;Cancelar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div data-bind="if: $root.createSolicitud() == true">
                        <form id="form-valide-charlascurso" name="form-valide-categoria" class="form-horizontal">
                            <div class="form-group pull-right">
                                <div class="col-md-12">
                                    <button id="Save_Personales" class="btn btn-success btn-rounded btn-lg" data-bind="click:$root.cambiarCategoria"><i class="fa fa-angle-double-left"></i>&nbsp;Cambiar Categoría</button>
                                </div>                          
                            </div>
                            <div class="form-group">
                                <label class="col-md-2">Tipo Solicitud</label>
                                <div class="col-md-4">
                                    <select name="ID_DOC_FEC" class="form-control" data-bind="options:$root.listTipoSolicitud, optionsText: 'NOMBRE', optionsValue: 'VALOR', value:$root.IDSOLICITUD, optionsCaption:'SELECCIONE UN SERVICIO'"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2">Asunto</label>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" name="name" value="" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2">Descripción</label>
                                <div class="col-md-4">
                                    <textarea class="form-control"> </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <p><strong>Archivo o Imagen </strong></p>
                                    <label class="label label-danger" id="txtExtensiones" data-bind="text:'.pdf,.jpeg'"></label>

                                </div>
                                <div class="col-md-4">
                                    <div class="dropzone" id="dropzoneForm">
                                        <div class="fallback">
                                            <input type="file" id="fileDoc" name="file" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="ARCHIVO" id="hdArchivo" />
                                </div>
                            </div>
                            <div class="form-group pull-right">                            
                                <div class="col-md-12">
                                    <button id="Save_Personales" class="btn btn-success" data-bind="click:$root.saveSolitud"><i class="fa fa-floppy-o"></i>&nbsp;Guardar Solicitud</button>
                                    <button id="Save_Personales" class="btn btn-danger" @*data-bind="click:$root.cancelarSolicitud"*@><i class="fa fa-times"></i>&nbsp;Cancelar</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/iCheck-bootstrap/iCheckBootstrapStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/upload")

<script>
    function loadDropzone() {
        //Dropzone.autoDiscover = false;
        Dropzone.autoDiscover = false;
        var uploadFiles = $("div#dropzoneForm").dropzone({
            url: '@Url.Content("~/helpers/UploadFiles.ashx?")',
            paramName: "file,-1",
            maxFilesize: 2,
            maxFiles: 1,
            uploadMultiple: false,
            addRemoveLinks: true,
            dictRemoveFile: "@General.Dropzone.Msg_Eliminar",
            dictFileTooBig: "@General.Dropzone.Msg_TamañoArchivo",
            maxfilesexceeded: function (file) {
                this.removeAllFiles();
                this.addFile(file);
            },
            accept: function (file, done) {
                if ($('#txtExtensiones').text().toLowerCase().search(file.name.toLowerCase().trim().split('.').pop()) > 0) {
                    if (file.name.length > 45) {
                        done("@General.Dropzone.Msg_ExedeCaracteresNombreArchivo");
                    } else {
                        done();
                        $('#hdArchivo').val(file.name);
                    }
                }
                else { done("@General.Dropzone.Msg_ExtencionNoPermitida"); }
            },
            dictDefaultMessage: "<strong>@General.Dropzone.Msg_SubirArchivosAqui</strong> </br>"
        });
    }
    function ViewModelCharlasCursos(model) {
        ko.cleanNode($('#FORM_SOLICITUD_CREAREDITAR')[0]);

        var self = this;
        self.modelSolicitud = model;
        self.IDSOLICITUD = ko.observable();
        self.IDSERVICIO = ko.observable('');
        self.SerTi = ko.observable(false);
        self.SerRRHH = ko.observable(false);
        self.Intalaciones = ko.observable(false);
        self.createSolicitud = ko.observable(false);
        self.nameService = ko.observable('');

        self.listServicios = ko.observableArray([
            { NOMBRE: "TI", VALOR: "TI", CHECKED: false },
            { NOMBRE: "Recursos Humanos", VALOR: "Recursos Humanos", CHECKED: false },
            { NOMBRE: "Instalaciones", VALOR: "Instalaciones", CHECKED: false },
        ]);
        self.listSerTi = ko.observableArray([
            { NOMBRE: "Apoyo técnico", VALOR: "Apoyo técnico", CHECKED: false },
            { NOMBRE: "Solicitar equipo", VALOR: "Solicitar equipo", CHECKED: false },
        ]);
        self.listSerRRHH = ko.observableArray([
            { NOMBRE: "Asistencia general", VALOR: "Asistencia general", CHECKED: false },
            { NOMBRE: "Información requerida", VALOR: "Información requerida", CHECKED: false },
            { NOMBRE: "Formación y educación", VALOR: "Formación y educación", CHECKED: false },
        ]);
        self.listIntalaciones = ko.observableArray([
            { NOMBRE: "Problemas de construcción", VALOR: "Problemas de construcción", CHECKED: false },
            { NOMBRE: "Hacer una solicitud", VALOR: "Hacer una solicitud", CHECKED: false },
        ]);


        self.listTipoSolicitud = ko.observableArray([
            { NOMBRE: "Pregunta", VALOR: "Pregunta", CHECKED: false },
            { NOMBRE: "Incidente", VALOR: "Incidente", CHECKED: false },
            { NOMBRE: "Petición de servicio", VALOR: "Petición de servicio", CHECKED: false },
            { NOMBRE: "Problema", VALOR: "Problema", CHECKED: false },
            { NOMBRE: "Solicitud de cambio", VALOR: "Solicitud de cambio", CHECKED: false },
        ]);

        //for (var divison in model.DivisionesSeleccionadas) {
        //    self.divisionesSeleccionadas.push(new Divisiones(ko.toJS(model.DivisionesSeleccionadas[divison])));
        //}
        self.IDSOLICITUD.subscribe(function (value) {
            var value;
            switch (value) {
                case "TI":
                    self.SerTi(true);
                    self.SerRRHH(false);
                    self.Intalaciones(false);
                    self.nameService(value);
                    self.IDSERVICIO('');
                    break;
                case "Recursos Humanos":
                    self.SerTi(false);
                    self.SerRRHH(true);
                    self.Intalaciones(false);
                    self.nameService(value);
                    self.IDSERVICIO('');
                    break;
                case "Instalaciones":
                    self.SerTi(false);
                    self.SerRRHH(false);
                    self.Intalaciones(true);
                    self.nameService(value);
                    self.IDSERVICIO('');
                    break;
                default:
                    self.SerTi(false);
                    self.SerRRHH(false);
                    self.Intalaciones(false);
                    self.nameService(value);
                    self.IDSERVICIO('');
            }

        });

        self.continueSolitud = function () {
            self.createSolicitud(true);
            loadDropzone();
        };
        self.cambiarCategoria = function () {
            self.createSolicitud(false);
            loadDropzone();
        };

        self.saveSolitud = function () {
            swal({
                title: 'Solicitud Guardada Correctamente',
                timer: 3000,
                type: "success",
                showConfirmButton: true,
            }, function () {
                swal.close();
                
            });

            @*if ($('#form-valide-charlascurso').valid()) {
                var divisiones;
                ko.utils.arrayForEach(self.divisionesSeleccionadas(), function (division) {
                    if (division.CHECKED() === true) {
                        divisiones = divisiones ? divisiones + ',' + division.DIVCOD() : division.DIVCOD();
                    }
                });
                var data = {
                    IDCHARLA: model.Charla.IDCHARLA,
                    CHARLA: $("#CHARLA").val().toUpperCase(),
                    DESCRIP: $("#DESCRIP").val().toUpperCase(),
                    HORAS: parseInt($("#HORAS").val()),
                    VENCIMIENTO: parseInt($("#VENCIMIENTO").val()),
                    PORCENTAJE: parseInt($("#PORCENTAJE").val()),
                    OBLIGATORIO: self.tipoCurso(),
                    ID_AREA: self.area(),
                    ID_DOC_FEC: self.fechaDocRelacionado(),
                    ID_CLASIFIACION: self.clasificacion(),
                    ID_AMBITO: self.ambito(),
                    DIVISIONES: divisiones,
                };
                $.ajax({
                    global: true,
                    async: false,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("SaveCharla", "CharlasCursos", new { Area = "Mandante" })',
                    data: JSON.stringify(data),
                    success: function () {
                        swal({
                            title: 'Guardado Correctamente',
                            timer: 3000,
                            type: "success",
                            showConfirmButton: true,
                        }, function () {
                            swal.close();
                        });
                    },
                    error: function () {
                        swal({
                            title: 'Ocurrio un Error',
                            timer: 3000,
                            type: "error",
                            showConfirmButton: true,
                        }, function () {
                            swal.close();
                        });
                    }
                });
            }*@
        }

        self.cancelCharlaCurso = function () {
            var url = '@Url.Action("Index", "CharlasCursos", new { Area = "Mandante" })';
            window.location = url;
        };
    }

    var vm = new ViewModelCharlasCursos(@Html.HtmlConvertToJson(Model));
    ko.applyBindings(vm, $('#FORM_SOLICITUD_CREAREDITAR')[0]);

    $("#form-valide-charlascurso").validate({
        ignore: [],
        rules: {
            "CHARLA": {
                required: true,
                maxlength: 50,
            },
        },
        messages: {
            "CHARLA": {
                required: "",
                maxlength: "",
            },
        }
    });

</script>
}