@model V4mvc.Presentation.Controllers.InformesVehiculosController.ViewModel_InformeVehiculos
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeFichaVehiculo">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Patente</strong></td>
                <td data-bind="text:PATENTE_FORMATO"></td>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_TipoVehículo</strong></td>
                <td data-bind="text:DSCTIPOV"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Empresa</strong></td>
                <td data-bind="text:IDEMPRESA"></td>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Color</strong></td>
                <td data-bind="text:COLOR"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Marca</strong></td>
                <td data-bind="text:MARCA"></td>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_AniodeFabricacion</strong></td>
                <td data-bind="text:ANOFAB"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Modelo</strong></td>
                <td data-bind="text:MODELO"></td>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_Capacidad</strong></td>
                <td data-bind="text:CAPACIDAD"></td>
            </tr>
            <tr>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_UltimoIngreso</strong></td>
                <td></td>
                <td class="text-left tituloTabla"><strong>@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblb_Datos_UltimaSalida</strong></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">@Contratista.InformesVehiculos.InformeFichaVehiculo.Lbl_InformeDetalladoDelVehículo</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>


<div class="row">
    <div class="col-md-12 bootstrap-grid">
        <div class="table-responsive">
            <table class="table table-bordered" id="TablaInformeConsultaRapidaFichaVehiculo">
                <thead>
                    <tr>
                        <th class="text-center" colspan="5">Documentos y Fechas de Vehículo</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="text-center">@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblh_Grid_DocumentosyFechasDeVehículo</th>
                        <th class="text-center">@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblh_Grid_Empresa</th>
                        <th class="text-center">@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblh_Grid_Operacion</th>
                        <th class="text-center">@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblh_Grid_Certificación</th>
                        <th class="text-center">@Contratista.InformesVehiculos.InformeFichaVehiculo.Tblh_Grid_Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="400" class="text-center" data-bind="attr: { rowspan: function(){ if(divisiones.length == 0) return 1; else return divisiones.length+1; }()}">Certificación por Operación</td>
                    </tr>
                    <!-- ko foreach: $root.divisiones -->
                    <tr>
                        <td class="text-center" data-bind="text:EMPRESA"></td>
                        <td class="text-center" data-bind="text:DIVISION"></td>
                        <td class="text-center">
                            <div data-bind="if:CERT == 1">
                                <a data-bind="click:function(data,event){Disputa(this,$data.IDTURNO)}">
                                    <img src="/images/verde.gif" width="18" height="18" />
                                </a>
                            </div>
                            <div data-bind="if:CERT != 1">
                                <a data-bind="click:function(data,event){Disputa(this,$data.IDTURNO)}">
                                    <img src="/images/rojo.gif" width="18" height="18" />
                                </a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div data-bind="if:EMPRESA">
                                <u><a data-bind="click:function(data,event){DetalleInformeVehiculo(DIVCOD,EMPRESA,$root.datosInformeFichaVehiculo.PATENTE)}">Ver Detalle</a></u>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="notices">
    <div>@Contratista.InformesVehiculos.InformeFichaVehiculo.Msg_Nota</div>
    <div class="notice">@Contratista.InformesVehiculos.InformeFichaVehiculo.Msg_NotaMensaje</div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/dataTables")
    <script>
    function IndexViewModel(model) {
        var self = this;
        self.divisiones = model.divisiones;
        self.datosInformeFichaVehiculo = model.datosInformeFichaVehiculo;
    }
    function DetalleInformeVehiculo(DIVCOD, EMPRESA, PATENTE) {
        var url = '@Url.Action("InformeFichaVehiculo_Detalle", "InformesConsultaRapida", new { Area = "" })?DIVCOD=' + DIVCOD + '&EMPRESA=' + EMPRESA + '&PATENTE=' + PATENTE;
            window.location = url;
    }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}